* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../img/wood.png);
  background-size: cover;
}
#container{
  width: 1000px;
  margin: auto;

}
/* utility class */
.float-left{
  float: left;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
main::after {
  content: "";
  display: table;
  clear: both;
}
/* /utility class */
/* header */
header{
  height: 400px;
  background: red;
  margin-bottom: 20px;
  position: relative;
}
.header-top {
  height: 350px;
  border: 10px solid white;
  position:relative;
  background-image: url(img/forest.jpeg);
  background-size: cover;
}
nav{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: brown;
}
.header-logo{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;

}
/* /header */
/* main content */


.col-left, .col-right{
  width: 20%;
  background: yellow;
}
.col-center {
  width: 50%;
  background: orange;
  margin: 0 5%
}

footer {
  height: 200px;
  margin-top: 20px;
  background: blue;

}
/* /main content */
