* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../img/wood.png);
  background-size: cover;
}
#container{
  width: 1000px;
  margin: auto;

}
/* utility class */
.float-left{
  float: left;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
main::after {
  content: "";
  display: table;
  clear: both;
}
/* /utility class */
/* header */
header{
  height: 400px;
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  position: relative;
}
.header-top {
  height: 350px;
  border: 10px solid white;
  position:relative;
  background-image: url(img/forest.jpeg);
  margin-top: 20px;
}
.page-title {
  color: white;
}
img {
  width: 400px;
}
/* nav tab */
nav{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #999;
}
ul.menu li{
  display: inline-block;
}
.menu{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.menu li  {
  display: inline-block;
  padding: 0 10px;
  line-height: 50px
}
.menu li a {
  color: white;
  text-decoration: inherit;
  display: inline-block;
}
.menu li:hover {
  background: #504741;
  cursor: pointer;
}
.menu li a:hover {
  text-decoration: underline;
}
/* /nav tab */
.header-logo{
  background-image: url(../img/woo);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
/* /header */

/* main content */
main {
  margin-top: 10px;
}
p {
  line-height: 30px;
  padding: 20px
}
/* titles */
h2 {
  padding: 10px;
  margin-left: 10px;
  color: #504741;
  text-shadow: 2px 2px 0px rgba(0,0,0,.2);
}
#col-right-title {
  display: inline;
}
/* /titles */
i {
  font-size: 50px;
  color: orange;
}
.col-left-list {
  list-style-type: none;
  line-height: 30px;
  color: green;
  padding: 10px;
}
.col-left, .col-right{
  width: 20%;
}
.col-left {
  background-color: white;
}
.col-center {
  width: 50%;
  background: white;
  margin: 0 5%
}
.col-left, .col-center, .widget, footer {
  box-shadow: 2px 2px rgba(0,0,0,.2);
}

.widget {
  background-color: white;
  margin-bottom: 20px;
}
.rounded {
  border-radius: 5px;
}
/* /main content */

/* footer */
footer {
  height: 100px;
  width: 100%%;
  margin-top: 20px;
  background: white;
}
h4 {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-size: 20px;
  color: rgb(191 191 191);
}
.icon-footer {
  border-top: 1px solid rgb(191 191 191);
  width: 100%;
  text-align: center;
}
.social {
  margin: 0 90px;
  text-align: center;
  font-size: 70px;
  color: rgb(191 191 191);
}
.social:hover {
  color: orange;
  cursor: pointer;

}
